// from 'Attack of the Clones' palette https://www.vox.com/culture/2015/12/17/10322514/star-wars-colors
$primary:       #6e989d;
$secondary:     #b78158;
$light:         #c2c7b7;
$dark:          #19120d;
